{% extends "base.html" %}
{% block title %}Profile - {{ current_user.name }}{% endblock %}
{% block content %}
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div class="card" id="list1">
        <div class="card-body py-4 px-4 px-md-5">
          <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
            <i class="fas fa-user me-1"></i>
            <u>Profile</u>
          </p>
          <div class="pb-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-4">User Information</h5>
                <div class="mb-3">
                  <label class="form-label" for="name">Name:</label>
                  <input class="form-control" id="name" readonly type="text" value="{{ current_user.name }}">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="email">Email:</label>
                  <input class="form-control" id="email" readonly type="email" value="{{ current_user.email }}">
                </div>
                <a class="btn btn-primary" href="{{ url_for('edit_profile') }}">Edit Profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}