{% from "bootstrap5/form.html" import render_field %}
{% extends "base.html" %}
{% block title %}{{ current_user.name }} TODO List{% endblock %}
{% block content %}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
          <div class="card-body py-4 px-4 px-md-5">

            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
              <i class="fas fa-check-square me-1"></i>
              <u>My Todo-s</u>
            </p>
            <div class="pb-2">
              <div class="card">
                <div class="card-body">
                  <form method="POST">
                    {{ form.csrf_token }}
                    <div class="row align-items-end">
                      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-9 ">
                        {{ render_field(form.task, placeholder="Add new task....") }}
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 ">
                        {{ render_field(form.due_date) }}
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-2 col-xl-1 mb-3">
                        <button class="btn btn-success" name="action" value="add" type="submit">
                          {{ form.submit.label }}
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <table class="table">
                <thead>
                <tr>
                  <th>Title</th>
                  <th>Due Date</th>
                  <th>Created Date</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                <tr>
                  <td>{{ task.title }}</td>
                  {% if task.due_date: %}
                  <td>{{ task.due_date }}</td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  <td>{{ task.created_date }}</td>
                  <td>
                    <a href="#!" class="text-muted" data-mdb-tooltip-init title="Created date">
                      <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>{{ task.created_date }}</p>
                    </a>
                    <a href="#" class="btn btn-primary btn-sm"><i
                        class="fas fa-edit"></i></a>
                    <a href="#" class="btn btn-danger btn-sm"><i
                        class="fas fa-trash-alt"></i></a>
                    {% if not task.completed %}
                    <a href="#" class="btn btn-success btn-sm"><i
                        class="fas fa-check"></i></a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
                <li
                    class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                  <div class="form-check">
                    <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked1"
                           aria-label="..." checked/>
                  </div>
                </li>
                <li
                    class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                  <p class="lead fw-normal mb-0">Buy groceries for next week</p>
                </li>
                <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                  <div class="d-flex flex-row justify-content-end mb-1">
                    <a href="#!" class="text-info" data-mdb-tooltip-init title="Edit todo"><i
                        class="fas fa-pencil-alt me-3"></i></a>
                    <a href="#!" class="text-danger" data-mdb-tooltip-init title="Delete todo"><i
                        class="fas fa-trash-alt"></i></a>
                  </div>
                  <div class="text-end text-muted">
                    <a href="#!" class="text-muted" data-mdb-tooltip-init title="Created date">
                      <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>28th Jun 2020</p>
                    </a>
                  </div>
                </li>
              </ul>
              <ul class="list-group list-group-horizontal rounded-0">
                <li
                    class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                  <div class="form-check">
                    <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked2"
                           aria-label="..."/>
                  </div>
                </li>
                <li
                    class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                  <p class="lead fw-normal mb-0">Renew car insurance</p>
                </li>
                <li class="list-group-item px-3 py-1 d-flex align-items-center border-0 bg-transparent">
                  <div
                      class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-body-tertiary">
                    <p class="small mb-0">
                      <a href="#!" data-mdb-tooltip-init title="Due on date">
                        <i class="fas fa-hourglass-half me-2 text-warning"></i>
                      </a>
                      28th Jun 2020
                    </p>
                  </div>
                </li>
                <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                  <div class="d-flex flex-row justify-content-end mb-1">
                    <a href="#!" class="text-info" data-mdb-tooltip-init title="Edit todo"><i
                        class="fas fa-pencil-alt me-3"></i></a>
                    <a href="#!" class="text-danger" data-mdb-tooltip-init title="Delete todo"><i
                        class="fas fa-trash-alt"></i></a>
                  </div>
                  <div class="text-end text-muted">
                    <a href="#!" class="text-muted" data-mdb-tooltip-init title="Created date">
                      <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>28th Jun 2020</p>
                    </a>
                  </div>
                </li>
              </ul>
              <ul class="list-group list-group-horizontal rounded-0 mb-2">
                <li
                    class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
                  <div class="form-check">
                    <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked3"
                           aria-label="..."/>
                  </div>
                </li>
                <li
                    class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
                  <p class="lead fw-normal mb-0 bg-body-tertiary w-100 ms-n2 ps-2 py-1 rounded">Sign up for online
                    course</p>
                </li>
                <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
                  <div class="d-flex flex-row justify-content-end mb-1">
                    <a href="#!" class="text-danger" data-mdb-tooltip-init title="Delete todo"><i
                        class="fas fa-trash-alt"></i></a>
                  </div>
                  <div class="text-end text-muted">
                    <a href="#!" class="text-muted" data-mdb-tooltip-init title="Created date">
                      <p class="small mb-0"><i class="fas fa-info-circle me-2"></i>28th Jun 2020</p>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}